$orange         : #BD3613;
$blue           : #ccccff;
$red			: #ff0000;
$gray			: #D3D3D3;
$dark_gray		: #262626;
$light_gray		: #808080;
$black			: #000000;
$green			: #cce5cc;
$viridian		: #40826D;
$white			: #FFFFFF;

$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;